body {
    background-color: black;
    color: whitesmoke;
    font-size: 16px;
}

.album-cover {
    width: 8rem;
    height: 8rem;
}

.profile-button {
    position: fixed;
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 0;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
